body {
  font-family: "Lato", sans-serif;
}

.choice{
	padding:30px;
}

.btn-primary{
    background-color: #000;
    color: #fff;
}
.table-dark{
	table-layout: auto; 
	white-space: nowrap;
}

th{
	font-size: larger;
}