body{

  font-family: "Lato", sans-serif;
  background-image: url("emp.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary{
    background-color: #000;
    color: #fff;
}

.thebody{
	padding: 60px;
}
